<section class="auth">
    <div class="container">
        <div class="row  vh-100 justify-content-center align-items-center ">
            <div class="col-md-8 ">
                <div class="auth-card">
                    <div class="w-50 mx-auto text-center ">
                        <img src="../../assets/images/4 4.png" alt="" class="w-75 ">
                    </div>

                    <h1 class="">login</h1>
                    <p>No worries! Please enter your email and we will send a password reset link</p>
                    <form [formGroup]="loginForm" (ngSubmit)="onlogin(loginForm)">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fa-solid fa-mobile-screen"></i></span>
                            <input formControlName="email" type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input formControlName="password" type="password" class="form-control">
                        </div>
                        <div class="links">
                            <a [routerLink]='["register"]'>Register Now?</a>
                            <a [routerLink]='["forgetPassword"]'>Forgot Password</a>
                        </div>
                        <button type="submit" class="primary w-100">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>