<section>
    <div class="page-title ">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-8">
                    <div>
                        <h1>categories <span>item</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, odio!</p>
                    </div>
                </div>
                <div class="col-md-4 text-end ">
                    <div>
                        <img src="../../../assets/images/mobile.svg" alt="" class="w-50">
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div>
        <div class="d-flex align-items-center justify-content-between my-3">
            <h2 class="h4">Categories table details</h2>
            <button class="primary" (click)="openDialog()">add new category</button>
        </div>
        <p>Lorem ipsum dolor sit amet.</p>
        <table class="table table-striped w-100 ">

            <thead>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Modification Date</th>
            </thead>

            <tbody>
                <tr *ngFor="let item of listData.data">
                    <td>{{item.Name}}</td>
                    <td>{{item.creationDate | date:'dd-mm-yy hh/mm a'}}</td>
                    <td>{{item.modificationDate | date:'dd-mm-yy hh/mm a'}}</td>
                    <td><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>visibility</mat-icon>
                                <span>view</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit_square</mat-icon>
                                <span>edite</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>

        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)"
            [length]="listData.totalNumberOfRecords" [pageSize]="pageSize" [pageIndex]="pageNumber"
            [pageSizeOptions]="[5, 10, 25]" aria-label="Select page">
        </mat-paginator>
    </div>
</section>